streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers>=3.0.0
transformers>=4.41.0
accelerate>=0.30.0
scikit-learn
pypdf2
python-docx
chromadb
faiss-cpu
python-dotenv
pydantic>=2.0
protobuf==3.20.3
requests
beautifulsoup4